@model ForumDAW.Models.Review
@{
    ViewBag.Title = "New";
}
<br />
<br />
<br />
<h2>Adauga un review</h2>
<br />
<br />
@using (Html.BeginForm("Create", "Reviews", new { ComponentId = Request["ComponentId"] }))
{
    @Html.Label("Title", "Raspuns :")
    <br />
    <br />

    @Html.TextBoxFor(b => b.Description, null, new { placeholder = "Descriere", @class = " form-control" })
    @Html.ValidationMessageFor(b => b.Description, "", new { @class = "text-danger" })
    <br />
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Create</button>
}