@model ForumDAW.Models.Review
@{
    ViewBag.Title = "New";
}

<h2>Adauga un review</h2>
@using (Html.BeginForm("Create", "Reviews", new { ComponentId = Request["ComponentId"] }))
{
    @Html.Label("Title", "Review :")
    <br />
    <br />

    <br />

    @Html.TextBoxFor(b => b.Description, null, new { placeholder = "Descriere" })
    <br />

    <br />

    <br />

    @Html.ValidationMessageFor(b => b.Description, "", new { @class = "text-danger" })
    <br />

    <br />

    <br />

    <button class="btn btn-primary" type="submit">Create</button>
}