@model ForumDAW.Models.AllQuestionsAnswers
@{
    ViewBag.Title = "AllQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="border">
    @foreach (var q in ViewBag.questions)
    {
    <div>
        Descriere: @q.Description
        @foreach (var a in ViewBag.answers)
        {
            if (a.QuestionId == q.Id)
            {
                <div>
                    @a.Description
                </div>
            }

        }

    </div>
        

    }

</p>

