@model ForumDAW.Models.AllQuestionsAnswers
@{
    ViewBag.Title = "AllQuestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
@Html.ActionLink("Pune o intrebare.", "New")
<br />
<br />
<br />
<br />
<p>
    @foreach (var q in ViewBag.questions)
    {
        <div>
            Descriere: @q.Description
            <br />
            <br />
            @foreach (var a in ViewBag.answers)
            {
                if (a.QuestionId == q.Id)
                {
                    <div>
                        @a.Description
                        <br />
                    </div>
                }
                <br />
                <br />
            }
            @Html.ActionLink("Adauga un raspuns la aceasta intrebare.", "New", "Answers",new {QuestionId = q.Id },null)

        </div>
        <br />
        <br />
        <br />
        <br />

    }

</p>


