@model ForumDAW.Models.Question
@{
    ViewBag.Title = "New";
}
<br />
<br />
<h2>Adauga o intrebare</h2>
<br />
<br />
@using (Html.BeginForm(actionName: "Create", controllerName: "Questions", method: FormMethod.Post))
{
<div>
    @Html.Label("Title", "Descrierea intrebarii:")
    <br />
    <br />
    <div class="form-group">
        @Html.TextBoxFor(b => b.Description, null, new { placeholder = "Descriere", @class = "form-control" })
        <br/>
        @Html.ValidationSummary(true, "Rezolvati urmatoarele probleme:")
        @Html.ValidationMessageFor(b => b.Description, "Completati toate campurile", new { @class = "text-danger" })
    </div>
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Adauga</button>
</div>
}
