@model ForumDAW.Models.Question
@{
    ViewBag.Title = "New";
}

<h2>Adauga o intrebare</h2>

@using (Html.BeginForm(actionName : "Create", controllerName: "Questions", method :FormMethod.Post))
{
    @Html.Label("Title","Question description :")
    <br />
    @Html.TextBoxFor(b => b.Description, null, new { placeholder = "Question Description"})
    @Html.ValidationMessageFor(b=>b.Description, "", new { @class = "text-danger" })
    <br />
    <button class= "btn btn-primary" type="submit">Create</button>
    
}
