@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <p>
            @foreach (var user in ViewBag.UsersList)
            {
                <div>

                    @user.UserName
                </div>
            }
        </p>
    </div>
</div>